<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/css/main.css' />
</head>
<body>
<div id="box" class="index">
    <div class="head">
        <div class="head-inner">
            <div class="h-r-left">
                校卖部
            </div>

            <p class="search-box"><input class="search-input" type="search" placeholder="请输入关键字">
                <span class="search-btn">搜 索</span></p>

            <div class="h-right">
                <div id="person_info" class="clearfix">
                    <div class="avatar">
                        <img src="/images/icon-person.png" style="display: inline-block;width: 100%;height: 100%">
                    </div>
                    <div class="personal-center">
                        <div class="center-nav">
                            <p class="h-r-userName">欢迎，<%= username%></p>
                            <p class="center-nav-list"><a href="/toCenter">个人中心</a></p>
                            <p class="center-nav-list"><a href="/getCart">我的购物车</a></p>
                            <p class="center-nav-list"><a href="/signIn">退出登录</a></p>
                        </div>
                    </div>
                </div>
                <!--<p id="personName" class="h-r-userName"><%= username%></p><a class="exit fr" href="/signIn">退出登录</a>
        <p><a href="/uploadOrder" class="h-r-input">发布商品</a>
          <input type="button" value="我的关注" class="h-r-input order-focus"/>
        </p>-->
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="nav-inner">
            <ul class="nav-inner-ul order-class-nav" style="width: 1024px;">
                <li><a href="/index">首页</a></li>
                <li><a href="/classSearch1">服装</a></li>
                <li><a href="/classSearch0">图书</a></li>
                <li><a href="/classSearch2">美食</a></li>
                <li><a href="/classSearch3">生活学习</a></li>
                <li><a href="/classSearch4">礼物饰品</a></li>
                <li><a href="/classSearch5">运动娱乐</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
            <div class="content-part2">
                <div class="c-part2-inner">
                    <p class="search-tip">

                    </p>
                    <p class="tips-box">

                    </p>
                    <p class="sort-box">
                        <span>排 序：</span>
                        <span class="sort-tip sort-new active">最新</span>
                        <span class="sort-tip sort-focusLevel">关注度</span>
                        <span class="sort-tip sort-priceDown">价格从高到低</span>
                        <span class="sort-tip sort-priceUp">价格从低到高</span>
                        <span class="sort-tip sort-outNum">销量</span>
                    </p>
                    <div class="c-part2-new">
                        <ul class="c-part2-new-ul" id="orderClassList">
                            <% orders.forEach(function (order) { %>
                            <li>
                            <span class='orderId' style='display: none'><%= order._id %></span><img src='/uploadData/<%= order.imagePath %>' class='c-part2-new-ul-img'>

                            <div class='c-part2-new-ul-img-price fr'>￥<%= order.price %></div>

                            <div class='c-part2-detail'>
                                <p class='c-part2-detail-goodsName'><%= order.goodsName %></p>
                                <p class='c-part2-detail-describe'><%= order.describe %></p>
                            </div>
                                <% if (order.focus) { %>
                                <p class="focus-box">
                                    <img src="/images/icon-focus.jpg" class="icon-focus">
                                    <span><%= order.focus%></span>
                                </p>
                                <% }%>

                                <% if (order.outNum) { %>
                                <p class="outNum-box">
                                    已售出：<span class="out-num"><%= order.outNum%></span>
                                </p>
                                <% }%>

                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
    </div>

</div>
<script src="/vendor/jquery.js"></script>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/orderClasses.js"></script>
<!--<script src="/javascripts/share.js"></script>-->
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0" charset="utf-8"></script>
<!--
<script type="text/javascript" src="http://www.139cai.com/public/share.js" charset="utf-8"></script>
-->
</body>
</html>